@font-face {
    font-family: 'supremeicons';
    src: url('fonts/supremeicons.eot');
    src: url('fonts/supremeicons.eot') format('embedded-opentype'),
         url('fonts/supremeicons.woff2') format('woff2'),
         url('fonts/supremeicons.woff') format('woff'),
         url('fonts/supremeicons.ttf') format('truetype'),
         url('fonts/supremeicons.svg#supremeicons') format('svg');
}
