
body{ overflow-x:hidden;}


/*--------------- Search Schoo Page ----------------*/

.searchMapForm .main_title_sm{ text-align:center; margin-bottom:50px;} 
button, input[type="button"], input[type="submit"]{ font-weight:normal;}
.site-content .formSubmit {color: #000000;background: #f9ae12 url("../../images/map_submit_icon.png") no-repeat left 30px center;float: left;margin-right: 30px;
padding: 14px 30px 14px 60px!important;} 
.site-content .formSubmit:hover{ color:#f9ae12; background:url("../../images/map_submit_hover.png") no-repeat left 30px center; background-color: #000000; border-color: #000000;}
.site-content .dark_blue_button{ background:#263573; float:left;}
.site-content .dark_blue_button i{ margin-right:5px;}
.site-content .dark_blue_button:hover {background:#ffffff;border-color:#263573;color:#263573;}
.searchMapForm form{ float:left; width:100%;}
.searchMapForm_inputs{ float:left; width:71%; position:relative;}
.searchMapForm_buttons{ float:left; width:29%;}
.searchMapForm_inputs input{ border-radius:100px; padding:12px 20px; display:inline-block;}  
.searchMapForm_inputs span{ display:inline-block; margin:0 30px;}
.searchMapForm{ margin-bottom:60px;}

.search-map-inner{ text-align:center;}
.search-map-inner .map{ margin:0 auto;}
#searchAddressLoader{position:absolute;left:0;right:0;margin:0 auto;display:block;text-align:center;z-index:9999;top:15%;}
.loaderImgCover{position:relative;}
.loaderImgCover:before{ position:absolute; width:100%; height:100%; background:#00000036; content:""; left:0; right:0; margin:0 auto; top:0;z-index:99;}
#searchResultShow #map{width:100%!important; margin:0px 0 70px; border-radius:0 0 60px 60px;height: 520px !important;}  
.search-result ul{ list-style:none; margin:0;width:100%; float:left;display:flex;flex-flow:wrap;}
.search-result ul li{ width:calc(29% + 30px); margin-right:30px; margin-bottom:50px; border-radius:0 0 50px 50px; float:left; border:1px solid #a0a0a0; padding:40px;}  
.search-result ul li:nth-of-type(3n){ margin-right:0;}
.search-result ul .titile h2{ font-size:18px; font-weight:bold; margin:0; padding:0; color:#000;}
.school-primary {margin-top:8px; line-height: 1.1;}
.search-result ul li .suprim-icon{ margin-right:5px;}
.search-result ul li a{ text-decoration:none;}
.load_button{ display:inline-block; margin:0 auto; cursor:pointer;}
.load_buttons{ text-align:center;}
.search-result ul li:hover {background: #fff;box-shadow: 0 0 15px #0000002e;border-color: transparent;}
.search-list-cover .school-gender {margin-top: 20px !important; }

  

 
/*------------------------Media Quary------------------------*/

@media only screen and (max-width:1850px) {

.header-logo{ margin-right:80px;}
.site-header .header-menu ul li a {font-size: 16px;}
.covid_section_one .covid_right_sec{ margin-top:0;}
.wrap_main {width:86%;}
.header-logo img {height:70px; padding-top: 8px; }
.header-inner .hd-custom-link a{font-size:16px;}
.site-header .header-menu ul li.covid-menu a span::before{top:-8px; left:-16px;}
.blg-ttl{ width:55%;}

.cloud-cover::before {height:159%;width:30%;right:5%;top:-82%;}
.cloud-title {font-size:34px;}
.cloud-cover{margin-top:344px;}  
  
.early-years-title .fonts65{ font-size:60px;}
.cloud-cover .cloud1{padding:110px 60px 70px;}  
.cloud-cover .cloud2{padding:132px 60px 80px;} 
.cloud-cover .cloud3{ padding:120px 60px 70px;}
.cloud-cover .cloud4{ padding:109px 50px 66px;}  
.cloud-cover {margin-top:315px;} 

.round_box2, .round_box3, .round_box4, .round_box5 {margin-top: -55px;}
.round-box-hover-right .round-box-hover-in{ padding-right:15%;}  
  
.hoverShowBackground {margin-top:100px;}  
.covid_section_one .covid_right_sec{ margin-top:0;}
.header-logo {margin-right:25px;}
.site-header .header-menu ul li a {font-size:16px;} 
.header-inner .hd-custom-link a{font-size:16px;}
.site-header .header-menu ul li.covid-menu a span::before{top:-8px; left:-16px;}
  
  
}  



@media only screen and (max-width:1699px) {


p {margin:0 0 1.2em; }
.page_small_title{margin:0 0 1.2em; }
.site-content-contain .content-area ul{margin:0 0 1.2em; }
.wrap_main {width:90%;}
.header-logo img {height:65px; padding-top:8px; }
.site-header .header-menu ul li {padding:0 6px; }
.searchBox.last {width:200px!important; }
.site-header .header-menu ul li a {font-size:15px;  padding:40px 5px 29px!important;} 
.searchform #searchsubmit {padding:8px 20px;}
.h-search {padding:43px 0 35px;}
.header-logo {margin-right: 100px;}
.footer_div a {font-size: 14px;}
.cloud-cover {margin-top:315px;} 
.cloud-cover .cloud2 {margin-left:-100px;}
.cloud-cover .cloud3{margin-left:-90px;}
.cloud-cover .cloud4{margin-left:-125px;}
.round-box-hover-right .round-box-hover-in{ width:64%;}
.round-box-hover-left .round-box-hover-in{ width:67%;}
.logo-box {width:317px; height:215px; background-size:cover;}
.logo-box img{ width:35px;} 
.closebtn i {font-size: 45px;}
.site-content-contain{padding-top:105px;}
.site-content-contain main {margin:95px 0 60px;}

.page_main_heading{ font-size:70px;}
.more-site-title-box .more_title {font-size:20px;}
.fonts48{font-size:38px;}
.fonts38{ font-size:34px;}
.fonts36{font-size:32px;}
.fonts24{ font-size:20px;}  
.fonts28{ font-size:24px;}  
.fonts65{font-size:60px;}
.hoverShowBackground {height: 370px;}

.h-search {padding:38px 0 35px; }
.ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-83, .ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-978 {width: 760px; }
.site-header .header-menu ul.ubermenu-submenu li a {font-size: 16px;}
.navigation-top .ubermenu .ubermenu-target-description {font-size: 16px !important; }
.cd-main {padding-top: 0px;}
.c-form-main {padding-top: 160px;} 
.site-header .header-menu ul.ubermenu-nav li.submenu-title a {font-size: 35px !important;  margin-bottom:5px!important;}
.banner-btn .border_button .suprem_icon {font-size: 16px; }
.header-inner .hd-custom-link a {font-size: 16px; padding: 39px 5px 27px !important; }
.header-menu .ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-793 li:first-child, .header-menu .ubermenu ul li .ubermenu-submenu li.submenu-title.ubermenu-item {width: 590px !important; }


.site-header .header-menu ul li.covid-menu a span::before {width: 140%;height: 165%;top: -7px;left: -12px;}

 

.cloud-cover {margin-top:300px;} 
.early-years-title {margin: 60px 0 0;}
.early-years-title .fonts65 {font-size:55px;} 
.curriculum-title h2 span{ font-size:44px;}
.curriculum-title h2{ min-height:70px;}

.cloud .cloud-title{ font-size:29px;}
.round-box-hover .round-box-hover-left-info{ font-size:20px;} 
.more-site-info-box-hover span a{ font-size:20px;}
.round_box2, .round_box3, .round_box4, .round_box5 {margin-top: -40px;}
 

.page-id-70 .site-content-contain::before{left: -645px;} 
.page-id-70 .site-content::before{left: -1110px;}
.page-id-70 .site-content-contain::after{right: -770px;}
.page-id-113 .site-content-contain::before{left: -645px;} 
.page-id-113 .site-content::before{left: -1110px;}
.page-id-113 .site-content-contain::after{right: -770px;}
.page-id-67 .site-content-contain::before{left: -645px;} 
.page-id-67 .site-content::before{left: -1110px;}
.page-id-67 .site-content-contain::after{right: -770px;}
.page-id-61 .site-content-contain::before{left: -645px;} 
.page-id-61 .site-content::before{left: -1110px;}
.page-id-61 .site-content-contain::after{right: -770px;} 
.literacy-main-title img {width: 50px;} 
 
 
.top_balun::before{ width:8%;}	
.fly_yelo_one::before{ width:60px; height:60px; left: 7%;}	
.fly_yelo_two::before{ width:60px; height:60px; right: 7%;}	
.about_kite_one::before{ width:15%;}
.page-id-70 .about_kite_one::before{ width:17%;}
.balun-two::before{ left:3%;}
.page-id-127 .about_kite_two::before{ width:15%; right:0;}
.page-id-127 .top_balun::before{ width:5%; right:3%;}
.page-id-127 .fly_yelo_one::before{right:7%;}
.about_kite_two::before{ width:15%;}
.page-id-113 .balun-two::before{ width:8%;}
.clud-pos-same .about_kite_one::before{ width:15%;}
.clud-pos-same .top_balun::before{ right:3%;}

.page-template-resources-sub-categories .top_balun::before{ right:0;}
.page-template-resources-sub-categories .fly_yelo_one::before{ right:8%;}
.page-template-resources-sub-categories .about_kite_one::before{ width:15%;}
.page-template-resources-sub-categories .about_kite_two::before{ width:15%; left:0;}
.page-template-resources-sub-categories .balun-two::before{ width:5%; left:3%;}
.page-template-resources-sub-categories .about_kite_three::before{ width:15%; right:0;} 
.page-template-resources-sub-categories .bottom_balun{ width:8%;left: 2%;}
  
 
}   

	

@media only screen and (max-width:1439px) {
	
.header-logo {margin-right:75px;}	
.footer-five.footer_div {width: 16%;}

	   
} 



@media only screen and (min-width:1200px) and (max-width:1500px){
	
.site-header .header-menu ul li a { font-size:13px;}	
.cloud-cover {margin-top:300px;}	 
.cloud-cover::before {height:159%;width:24%;right:3%;top:-77%;}
.header_title {font-size:52px;}	  
.learning-sec {margin:110px 0 0 0;} 
.ques-mark-box i {font-size: 70px;}
.logo-box {width:291px; height:202px; background-size:cover;}
.logo-box img{ width:35px;}
.closebtn i{font-size: 40px;} 
.round-box-hover-right .round-box-hover-in{ width:66%;}
.round-box-hover-left .round-box-hover-in{ width:68%;}
.curriculum-title h2 i{font-size: 40px;}
.family-cnt-left i{font-size: 40px;}
.family-cnt-left img{ width:50px;}	
.iteracy_title_atra h4{padding:0 35px;}
.footer_div .widget-title{ font-size:18px;}  
.literacy-title .page_main_title{ width:60%;}

.site-content-contain .resource-category ul li a{ font-size:28px;}
.download_categoty a{ font-size:20px;}
.page_main_heading{ font-size:70px;}
.more-site-title-box .more_title {font-size:20px;}
.fonts48{font-size:38px;}
.fonts38{ font-size:32px;}
.fonts36{font-size:29px;}
.fonts24{ font-size:20px;}  
.fonts28{ font-size:22px;}  
.fonts65{font-size:52px;}

.cloud-cover .cloud1{padding:100px 60px 60px;}  
.cloud-cover .cloud2{padding:116px 60px 70px;} 
.cloud-cover .cloud3{ padding:100px 60px 60px;}
.cloud-cover .cloud4{ padding:109px 50px 66px;}
.cloud-cover .cloud2::before{ top:-86%;}
.cloud-cover {margin-top: 270px;}
.early-years-title .fonts65 {font-size:52px;}
.curriculum-title h2 span{ font-size:44px;}
.curriculum-title h2{ min-height:70px;}
 
.cloud .cloud-title{ font-size:25px;}
.round-box-hover .round-box-hover-left-info{ font-size:20px;}
.more-site-info-box-hover span a{ font-size:20px;} 
.round_box2, .round_box3, .round_box4, .round_box5 {margin-top:-20px;}	
 
.page-id-70 .site-content-contain::before{left: -645px;}   
.page-id-70 .site-content::before{left: -1110px;}
.page-id-70 .site-content-contain::after{right: -770px;}
.page-id-113 .site-content-contain::before{left: -645px;} 
.page-id-113 .site-content::before{left: -1110px;}
.page-id-113 .site-content-contain::after{right: -770px;}
.page-id-67 .site-content-contain::before{left: -645px;} 
.page-id-67 .site-content::before{left: -1110px;}
.page-id-67 .site-content-contain::after{right: -770px;}
.page-id-61 .site-content-contain::before{left: -645px;} 
.page-id-61 .site-content::before{left: -1110px;}
.page-id-61 .site-content-contain::after{right: -770px;}
.literacy-main-title img {width: 50px;} 
 
.header-social a .fa{ font-size:15px;}	
.search_show{ font-size:16px;}  
.cloud-cover .cloud4{margin-left:-100px;}  
.cloud-cover .cloud3 {margin-left:-75px;}
.cloud-cover .cloud2 {margin-left:-80px;}  
.ques-mark-box{ left:-30px;}
.hoverShowBackground {margin-top:98px;}	  	
		  
}        
        
@media only screen and (min-width:1200px) and (max-width:1300px){

.header-logo {margin-right:40px;}

}	 
               
  

@media only screen and (max-width: 1200px) {


.site-header .wrap_main{ width:100%;}
.wrap_main {width:95%;}
.wrap {width: 95%;}
.wrap_main {padding-left: 15px;padding-right: 15px;}
.header-logo{ margin-right:10px;}
.site-header .header-menu ul li a{ font-size:13.5px; padding:40px 2px 29px!important;}
.header-logo img{ height:55px;}
.header-social a .fa{ font-size:15px;}
.searchform .search_box{ font-size:15px;}
.search_show{ font-size:15px;}
.header-social a .fa{ margin-right:10px;}
.h-search {margin-left: 10px;}

.footer_div{ padding-right:12px;}
.footer_div .widget-title{ font-size:16px;}
.footer-five.footer_div{ width:17%;}
.footer-four.footer_div {width: 16%;}


.site-content-contain main{ padding:0;}
.site-content-contain main {margin:70px 0 40px;}
.page_main_heading {font-size:50px;}
.fonts28 {font-size:24px;}
.above-footer-text p{ font-size:34px;} 
.page_shaps{ display:none;}
.page-id-61 .site-content::before{ top:530px;}


/*-------------- CSNSW Resources -----------*/

.site-content-contain .resource-category ul li a{ font-size:26px;} 
.site-content-contain .resource-category ul li span{ font-size:40px;} 
.fonts48 {font-size:34px;}
.resource_top_title h2 span{ font-size:50px;}
.resource-video-img iframe{ height:170px;}
.resource-video-box-text{ padding:25px;}
.resource-video-box-text h3{ margin-bottom:15px; font-size:22px;}
.resource-pdf-box-row .resource-pdf-box-column{ min-height:190px;}
.resource-pdf-box-column-in{ padding:0 30px;}
.resource-podcast-box-column{ padding:30px;}  


/*------------ all category page-----------*/

.speaking-title-section::before{height:455px;width:670px;}
.speaking-title-section::after{height: 420px;width: 658px; top:85px;}
.watch-title-section .small-box-1 h4 span{ font-size:50px;}
.watch-title-section .small-box-2 h4 span{ font-size:26px;}
.speking-vdo-in iframe{ height:520px;}
.curriculum-title h2 i{ font-size:36px;}
.family-cnt-left i{ font-size:50px;}
.family-cnt-left img{ width:55px;}
.fonts65 {font-size:50px;}
.know-more-content{ width:90%;}


/*----------- home service page ---------*/

.literacy-title .page_main_title{ width:80%;}
.fonts36 {font-size: 30px;}
.iteracy_title_atra{ min-height:351px;}
.literacy-box-hover{ min-height:351px;}
.clud-pos-same.site-content-contain::before{height: 24%;width: 56%;}

/*------------- home page ------------*/

.cloud-cover .cloud4 {margin-left: -65px;}
.cloud-cover .cloud3 {margin-left: -30px;}
.cloud-cover .cloud2 {margin-left: -30px;}
.cloud-cover .cloud3 {padding:120px 50px 74px;}
.cloud-cover .cloud{ width:50%;}
.cloud-cover .cloud3::before {height:60%;top:-34%;} 
.early-years-title .fonts65 {font-size: 50px;} 
.ques-mark-box i {font-size: 70px;}
.ques-mark-box{width:290px; height:210px;left:-5px;} 
.learning-sec .learning-description{padding: 70px 60px 70px 290px;}
.logo-box {width: 224px;height: 155px;top: 1%;left: -3.5%;}
.logo-box img {width:26px;} 
.round-img-box-right .logo-box {right: 0%;top: 1%;}
.more-site-info {margin-top:160px;}
.home .show-above-footer.b_radius {padding: 200px 0 80px 0;}
.more-site-title-box i{ font-size:60px;}
.podcasts-list-shw .more-site-title-box i{width:55px; min-height:65px;}
.more-site-info-box-hover{ padding:180px 20px 30px 20px; text-align:left;}
.fonts38 {font-size:28px;}
.closebtn {right:-40px;width:90px;height:90px;}
.closebtn i{font-size:34px;}
.round-box-hover-right .round-box-hover-in {width:70%; padding-right:10%; padding-top:40px;}
.round-box-hover-left .round-box-hover-in{width:74%; padding-right:15%; padding-top:40px;}
.round-box-hover-left{ top:35px;}
.round-box-hover-right{ top:35px;}
.round-img-box-right .closebtn{ left:-40px;}
.round-box-hover-in{ overflow-x:hidden;}   
.round_box2, .round_box3, .round_box4, .round_box5 {margin-top:-25px;}
  
	.hoverShowBackground {margin-top: 96px;}
    .header-logo{ margin-right:10px;}
	.site-header .header-menu ul li a{ font-size:12px; padding:40px 2px 29px!important;}
	.header-logo img{ height:55px;}
	.header-social a .fa{ font-size:15px;}
	.searchform .search_box{ font-size:15px;}
	.search_show{ font-size:15px;}
	.site-header .header-menu ul.ubermenu-nav li.submenu-title a{ font-size:28px!important;}
	.header-menu .ubermenu ul li .ubermenu-submenu li{ width:355px;}
	.hoverShowBackground{ height:360px;}
	.page-banner-content{ margin-top:-50px;}
	.header_title {font-size:40px;}  
	.main_title_md{ font-size:36px;}
	.main_title{font-size:40px;}
	.inner-content-news .news-title{ font-size:20px;}
	.csnsw_quote_sec .quotes_message_content{ font-size:20px;}
	.our-people-pg .page-banner-content p{ font-size:16px;}
	.header_title{ margin-bottom:20px;}
	.above-footer-text p{ font-size:34px;}
	.searchMapForm_inputs{ width:63%;}	  
	.searchMapForm_buttons{ width:37%;}
	.search-result ul li{width:calc(27.5% + 30px); padding:25px;}
	.banner-btn .border_button{ font-size:16px;padding: 16px;}
	.page-banner-content p{ font-size:20px;}
  
    

}	         


@media only screen and (max-width: 1023px) {
	
.header-social a .fa {margin-right: 10px; }
.header-social {margin-right: 60px;position: relative;padding-top:10px;}
.header-social a .fa {font-size:20px;}	
.header-menu .show-menu {position: absolute;right: 0;width: 100%;left: 0;top: 7px;}
.menu-toggle{float: right;padding: 0;font-size:30px;margin: 6px 15px 6px 0;position: relative;z-index: 55;}	
.site-content-contain main {margin: 40px 0 0px;}
.page_main_heading {font-size:40px;}
.fonts28 {font-size:22px;}
.above-footer-text p{font-size: 30px;}
.above-footer-text::before {width: 300px;height: 190px;background-size: contain;}
.show-above-footer{ padding:80px 0;}
.footer_div {width:30%!important; margin-right:20px!important; margin-bottom:20px!important;}
.footer-main .wrap_main{display:flex; flex-wrap:wrap;}	
.use-res-download-immer{ padding:0 30px;}  
.use-res-download-box{ min-height:220px;}  
	
/*-------------- CSNSW Resources -----------*/

.site-content-contain .resource-video-box-row ul li{ width:calc(50% + -30px);}
.site-content-contain .resource-video-box-row ul li:nth-of-type(3n) {margin-right:30px;}
.site-content-contain .resource-video-box-row ul li:nth-of-type(2n) {margin-right:0px;}
.resource-video-img iframe {height: 185px;}
.resource-video-box-text{ min-height:375px;}  
.site-content-contain .resource-pdf-box-row ul li{ width:calc(50% + -30px);}
.site-content-contain .resource-pdf-box-row ul li:nth-of-type(3n) {margin-right:30px;}
.site-content-contain .resource-pdf-box-row ul li:nth-of-type(2n) {margin-right:0px;}
.resource-pdf-box-row .resource-pdf-box-column {min-height:170px;}
.site-content-contain .resource-podcst-box-row ul li{ width:calc(50% + -30px);}
.site-content-contain .resource-podcst-box-row ul li:nth-of-type(3n) {margin-right:30px;}
.site-content-contain .resource-podcst-box-row ul li:nth-of-type(2n) {margin-right:0px;}


/*------------ all category page-----------*/

.speaking-title-section .page_main_title{ width:100%;}
.download_categoty a{ font-size:20px;}
.speking-vdo-in iframe {height:395px;}
.watch-title-section {margin:40px 0 30px;}
.speaking-video-section {margin-bottom:80px;}
.pdl20 {padding-left:20px;}
.pdr20 {padding-right:20px;}   
.family-cnt-left i {font-size:36px;} 
.family-cnt-left img {width: 42px;}
.family-box-padding .col-6:nth-of-type(2n+1) {padding-right:20px;}
.family-box-padding .col-6:nth-of-type(2n+2) {padding-left: 20px;}
.fonts65 {font-size: 40px;}
.fonts48 {font-size: 30px;}
.know-more-content{ width:100%;}

/*----------- home service page ---------*/

.literacy-title .page_main_title{ width:100%;}
.literacy-boxes-in .literacy-box{width: calc(49% + -30px); margin-bottom:30px;}
.literacy-boxes-in .literacy-box:nth-of-type(3n){ margin-right:30px;}
.literacy-boxes-in .literacy-box:nth-of-type(2n){ margin-right:0px;}
.fonts36 {font-size: 26px;}
.iteracy_title_atra{ min-height:310px;}
.literacy-box-hover{ min-height:310px;}
	
	
/*------------- home page ------------*/

.cloud .cloud-title {font-size:20px;}	
.cloud-cover .cloud1 {padding:85px 25px 50px;}
.cloud-cover .cloud2 {padding: 125px 30px 85px;}
.cloud-cover .cloud3 { padding: 120px 37px 80px;}
.cloud-cover .cloud4 {padding: 80px 35px 46px;}
.cloud-cover{margin-top:130px;}
.cloud-cover .cloud2::before {top:-80%;left:24px;}
.cloud-cover .cloud3::before{top:-30%;left:26px;}
.cloud-cover .cloud1::before{ left:23px;}
.cloud-cover .cloud {width:40%;}
.early-years-title .fonts65 {font-size: 40px;}
.early-years-title {margin: 0px 0 0;}
.early-years-title .fonts65 {font-size:36px;}
.ques-mark-box i {font-size: 46px;}
.ques-mark-box {width: 245px;height: 175px;}
.learning-sec .learning-description {padding:70px 35px 41px 195px;}
.fonts28 {font-size:20px;}
.logo-box {width:175px;height:115px;} 
.logo-box h6{ font-size:18px;}
.round-img .img{width: 44.3%;}

.round-box-hover-right{ left:150px;}
.round-box-hover-left{ right:150px;}
.closebtn{ width:60px; height:60px; right:-22px;}
.closebtn i {font-size: 22px;}
.round-img-box-right .closebtn {left: -26px;}
.round-box-hover-left .round-box-hover-in {width: 85%;padding-right: 14%;padding-top: 30px;padding-left: 14%;}
.round-box-hover-left{ height:77%;}
.round-box-hover-right{ height:77%;}
.round-box-hover-right .round-box-hover-in {width: 69%;padding-right: 8%;padding-top: 30px;}
.round-box-hover-in h4{ font-size:22px;}
.round-box-hover .round-box-hover-left-info {font-size: 17px;}
.round-box-hover-left-info {margin-bottom: 6px;}
.more-site-title-box i {font-size:50px; min-height:50px;}
.podcasts-list-shw .more-site-title-box i {width: 47px;min-height: 50px;background-size: contain;}
.more-site-title-box{ min-height:170px;}
.more-site-info-box-hover span a {font-size:16px;}
.home .show-above-footer.b_radius {padding: 115px 0 70px 0;}
	

/*---------- menu ---------*/

.site-header {position: relative;background-color: #fff;padding: 2px 0 4px;}
.header-logo img{height:55px;padding-top:8px;} 
.h-search {padding:6px 0 0 !important;}  	
.site-header .header-menu ul li a{ padding: 10px 0 !important;font-size: 22px;color: #fff;text-align: center;font-weight: bold !important;border:none;}
.site-header .header-menu ul li a:hover{ color:#f9ae12;}
.site-header .header-menu ul li{ padding:0; border:none;}	  
.main-navigation.toggled-on > div > ul{width:100%;background:none!important;padding:0px; margin-top:-20px;border:none;}    	   
.toggled-on .menu-main-menu-container {transform: translate(0);position: fixed;top:67px;}	   
.menu-main-menu-container {position: absolute;width: 100%;z-index: 1;margin-top: 0;left: 0;background: #253473;height: 100.3vh;display: flex;flex-direction: column;
transform: translateY(-100%);transition: 0.4s;top:-7px;justify-content: center;} 

.site-content-contain {padding-top: 5px;} 
.header-logo{ position:relative; z-index:5;} 



    .header-menu .show-menu {position: absolute; right: 0; width: 100%; left: 0;  top:7px;}
	.header-social a:last-child .fa {margin-right: 0;  }
	.ubermenu-skin-black-white-2.ubermenu-responsive-toggle {float: right; padding: 0; font-size: 30px !important; margin: 6px 15px 6px 0; position:relative;z-index:55; }
	.header-social {margin-right: 60px; position: relative; padding-top:8px;}
	.header-social a .fa {font-size: 20px !important;}
	.site-header .header-menu ul.ubermenu-nav li a {font-size: 22px; padding: 10px 0 !important; text-align: center; font-family: 'HelveticaNeueLTStdBd'; }
	.site-header .header-menu ul.ubermenu-nav li a:hover {color: #f9ae12 !important;}
	.ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0 {width: 100% !important; display: block; padding: 0; }
	.header-menu .ubermenu ul li .ubermenu-submenu li, .header-menu .ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-83 li {width: 100% !important;}
	.submenu-title {display: none !important; }
	.header-menu .ubermenu ul li .ubermenu-submenu li {padding-bottom: 0 !important;}
	.site-header .header-menu ul.ubermenu-submenu li a::before {right:-10px; left: auto; top: 10px;}
	.site-header .header-menu ul.ubermenu-nav li.ubermenu-active > a {color: #f9ae12 !important; }
	.site-header .header-menu ul li {padding: 0 !important; }
	.site-header .header-menu ul li.ubermenu-retractor-mobile {display: none !important; }
	.site-header .header-menu ul.ubermenu-submenu li a::after {display: none;}
	.ubermenu ul li .ubermenu-submenu {padding: 0; background: #253473 !important; padding: 10px 0 28px;}
	.ubermenu-responsive-default.ubermenu-responsive.ubermenu-has-border .ubermenu-nav .ubermenu-item .ubermenu-submenu.ubermenu-submenu-drop {left: 0 !important; }
	.ubermenu-responsive-default.ubermenu-responsive.ubermenu {position: absolute;	top: 58px; width: 100%; background: #253473 !important;height:100vh;
	padding-top: 20px; max-height:initial !important;}    
	.mobile-active {display: block !important; }
	.hd-custom-link {display: none !important;}
	.header-menu .ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-83 li, .header-menu .ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-86 li, 
	.header-menu .ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-793 li, .header-menu .ubermenu ul li .ubermenu-submenu.ubermenu-submenu-id-794 li {
	width: 100% !important; float: left; clear: none; }
	.site-header {position: relative;background-color:#fff; padding:2px 0 8px;}
	.light-header a, .site-header a, .light-header .header-social a .fa, .site-header .header-social a .fa{ color:#000!important;}
	.page-template-searchschool .above-footer-sec {margin-top: -150px;}
	.site-header .header-menu ul.ubermenu-nav li a {color: #fff !important;}  
	.banner-btn .btn-show{ margin-right:10px!important;}
	.scholaris-tabbing span { padding-left: 0 !important;  padding-right: 25px;}
	.nccd-inner {margin-top: 40px;}  
	.scrollup .fa-angle-up {line-height: 1.3; }
	.scrollup {width: 35px; height: 35px; right: 30px; font-size: 25px; }
	.header-social a .fa {margin-right: 10px; }
	.menu-toggle{ display:none!important;}   
	
	.scholaris-tabbing.std-ass {display: inline-block;}
	.scholaris-tabbing .left-links {width: 50%; margin-left: 0px; float: left;}
	.scholaris-tabbing .right-links {float: left; width: 50%; padding-left: 40px; margin-left: 0;}
	.site-header .header-menu ul.ubermenu-submenu li a {font-size: 16px !important; font-family: 'Roboto' !important; text-align: left !important; 
	width: 70%; margin: 0 auto; padding: 8px 10px 8px 0 !important;font-weight:normal!important}
	.blue-role-statement {padding-bottom: 0 !important; margin-bottom: 30px;}  

	       
}	              
 

@media only screen and (max-width: 767px) {

.footer-main .wrap_main {display: block;flex-wrap: initial;}
.footer_div {width:100%!important;margin-right:0px!important;margin-bottom:20px!important;}
.footer_div .widget-title {font-size:18px; margin-bottom:20px;}
.b_radius {border-radius: 0 0 50px 50px;}
.footer-main{ padding:40px 0 20px;}
.above-footer-text p {font-size:20px;}
.above-footer-text::before {width:145px;height:100px;}
.above-footer-text .author-name {font-size:18px;}
.above-footer-text{ min-height:auto;}
.show-above-footer {padding:70px 0;}  
.site-info-right ul li:first-child{ padding-left:0!important;}
.page_main_heading {font-size:30px; margin:20px 0 20px 0;}
.fonts28 {font-size:22px;}
.page_main_title{ margin:0 0 20px 0;}
.page_small_title {margin: 0 0 20px;}
.use-res-dwnld-lbl{ width:100%; margin-right:0; margin-bottom:30px;}
.use-res-download-section {margin-bottom: 10px;margin-top: 10px;} 
.use-res-download-box {min-height:200px;}
.use-res-video-in .use-res-video-box{ margin-bottom:30px;}


/*--- about ------*/
.page-id-61 .site-content-contain::before{display:none;} 
.page-id-61 .site-content-contain::after{display:none;}
.page-id-61 .site-content::before{display:none;}
/*--- glossary ------*/
.page-id-70 .site-content-contain::before{display:none;} 
.page-id-70 .site-content-contain::after{display:none;}
.page-id-70 .site-content::before{display:none;}
/*--- the-research ------*/
.page-id-67 .site-content-contain::before{display:none;} 
.page-id-67 .site-content-contain::after{display:none;}
.page-id-67 .site-content::before{display:none;}
/*--- how-to-use-this-resource ------*/  
.page-id-113 .site-content-contain::before{display:none;} 
.page-id-113 .site-content-contain::after{display:none;}
.page-id-113 .site-content::before{display:none;}  
 

/*-------------- CSNSW Resources -----------*/

.site-content-contain .resource-category ul li a {font-size:17px;} 
.site-content-contain .resource-category ul li{ padding:0 3px;}
.site-content-contain .resource-category ul li span{ font-size:28px; margin-right:5px;}
.fonts48 {font-size:28px;}
.resource_top_title h2 span {font-size:40px;}
.site-content-contain .resource-video-box-row ul li {width: 310px;margin: 0 auto 30px !important;}
.resource-video-img iframe {height:180px;}
.resource-video-box-text {min-height: auto;}
.resource-video-box-text .fancybox-youtube{ bottom:0; position:relative; font-size:14px;}
.resource-video-box-text .fancybox-youtube span{ font-size:18px;}
.site-content-contain .resource-pdf-box-row ul li{width: 310px;margin: 0 auto 30px !important;}
.site-content-contain .resource-pdf-box-row ul li .resource-pdf-box-column-in p{ font-size:14px;}
.site-content-contain .resource-pdf-box-row ul li .resource-pdf-box-column-in p span{ font-size:18px;}
.site-content-contain .resource-podcst-box-row ul li{width: 310px;margin: 0 auto 30px !important;}
.resource_top_title {margin-bottom:20px;}
.resource-podcast-box-column a{ font-size:14px;}
.resource-podcast-box-column a span{font-size:18px;}
.resource-page-title-section::before{ display:none;}
.resource-page-title-section::after{ display:none;}
.resource-pdf-section::before{ display:none;}
.resource-pdf-section::after{ display:none;}
.page-id-127 .above-footer-sec::before{ display:none;}
.page-id-127 .above-footer-sec::after{ display:none;}
 
 
/*------------ all category page-----------*/

.download_categoty a{font-size: 18px;padding: 15px 30px;}
.speking-vdo-in iframe {height: 350px;width: 100%;}
.curriculum-data-box{ padding:20px;}
.col-6{ width:100%;}
.pdr20 {padding-right:0px;}
.pdl20 {padding-left:0px;}
.curriculum-title h2{ width:80%;min-height: 55px;margin-top:-32px;} 
.curriculum-title h2 b{ font-size:22px;} 
.curriculum-title h2 span {font-size: 30px;}
.curriculum-title h2 i {font-size:30px;}
.speaking-video-section {margin-bottom: 30px;}
.family-cnt-left h2{ font-size:22px;}
.family-cnt-left i {font-size:31px; margin-right:10px;}
.small-box-data span{ font-size:25px;}
.fonts65 {font-size:30px;}
.fonts24 {font-size: 18px;}
.family-box-padding .col-6:nth-of-type(2n+2) {padding-left: 0;margin-top: 20px;}
.curriculum-section {margin-bottom: 60px;}
.families-section {margin-bottom: 60px;}
.teachers-section {margin-bottom: 30px;}
.speaking-title-section .page_main_title{margin: 0 auto 30px;}
.watch-title-section {margin: 30px 0 20px;}
.curriculum-title h2 span{ margin-right:10px;}
.speaking-title-section::before{ display:none;} 
.speaking-title-section::after{ display:none;} 
.curriculum-section::before{ display:none;} 
.curriculum-section::after{ display:none;} 
.teachers-section::before{ display:none;} 
.teachers-section::after{ display:none;} 
   
/*----------- home service page ---------*/

.literacy-main-title img {width: 40px;vertical-align: middle;}
.literacy-title .page_main_title{ margin-bottom:30px;}
.literacy-boxes-in .literacy-box{ width:310px; margin:0 auto 30px!important;}
.fonts36 {font-size: 24px;}
.literacy-boxes-section{ padding-bottom:0;}
.clud-pos-same.site-content-contain::before{ display:none;}
.clud-pos-same.site-content-contain::after{ display:none;}
.clud-pos-same .site-content::before{ display:none;}
 
 
/*------------- home page ------------*/


.cloud-main::before{ display:none;}
.cloud-main::after{ display:none;}
.round-boxe-area::before{ display:none;}
.round_box1::before{ display:none;}
.round_box1:after{ display:none;}
.round_box1 .round-img:before{ display:none;}
.round_box1 .round-img:after{ display:none;}
.round_box2:before{ display:none;}
.round_box2 .round-img:before{ display:none;}
.round_box2:after{ display:none;}
.round_box3:before{ display:none;}
.round_box3:after{ display:none;}
.round_box3 .round-img:before{ display:none;}
.round_box3 .round-img:after{ display:none;}
.round_box4:before{ display:none;}
.round_box4:after{ display:none;}
.round_box4 .round-img:before{ display:none;}
.round_box5:before{ display:none;}
.round_box5:after{ display:none;}
.round_box5 .round-img:before{ display:none;}
.round_box5 .round-img:after{ display:none;}



.cloud-cover {width: 90%;display: flex;margin: 25px auto;float: none;flex-direction: column;}
.cloud-cover .cloud {transform: inherit !important;opacity: 1 !important;position: relative;background:#fff;padding: 12px 30px;width: 100%;
margin: 0;border-bottom: 1px dashed #333;} 
.cloud-cover .cloud:hover{ background:#fff!important;}
.cloud-cover .cloud::before{display:none;}
.cloud .cloud-title br{ display:none!important;}
.cloud-cover .cloud:hover .cloud-title {color:initial!important;}
.cloud-cover .cloud4{ border-bottom:none!important;}
.early-years-title .fonts65{ font-size:30px;}
.ques-mark-box{ position:relative;}
.learning-sec .learning-description {padding: 110px 30px 30px 30px;margin-top: -100px;}
.learning-sec{ margin-top:30px;}
.ques-mark-box{ top:0;}   
.more-site-info .more-site-info-box {width:310px;float: none;margin: 0 auto 30px !important;}
.more-site-info-box-hover span a {font-size: 18px;}

.round-img .img{ width:100%;} 
.round_box{margin:20px 0; float:left;}
.round-img-box-right .logo-box{top:1%; left:-3.5%;}  
.round-box-hover{ opacity:1!important;}
.round-box-hover {opacity: 1 !important;width: 100%!important;position: relative;left: 0;height: auto!important;float: left;border-radius: 50px; top:0;}
.round-box-hover-right .round-box-hover-in {width: 100%;padding: 30px;}
.round-box-hover-left .round-box-hover-in {width: 100%;padding: 30px;}
.closebtn{ display:none;}
.round-img{ margin-bottom:20px;}
.round-boxes-inner {width: 90%;margin: 0 auto;}
.more-site-info{ margin-top:0;}
.home .show-above-footer.b_radius {padding: 100px 0 0px 0;}
.more-site-info-box-hover span a:hover i {margin-right: 5px;}
.logo-box {width: 185px;height: 120px;}
.round-boxe-area{ padding-top:20px;}
       
	   
}      
  

@media only screen and (max-width: 550px) {

.speking-vdo-in iframe {height:175px;width:100%;}

}
      
     
@media only screen and (max-width:320px) {

.speking-vdo-in iframe {height:165px;width:100%;}

}	


        
       
 
  
  
     

 






  
